{% extends 'chat/main.html' %}

{% block title %} QuickChat - Удаление чата {% endblock %}
{% block header %} <h2 class="text-lg font-semibold h-9 mt-3"> Удаление чата </h2>{% endblock header %}

{% block content %}
    <div class="flex-1 p-4 overflow-y-auto">
     <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
      <p class="mb-4">
       Вы действительно хотите удалить чат c {{ other_user.username }}? Отменить это действие будет невозможно.
      </p>
         <form method="POST">
             {% csrf_token %}
                   <div class="flex items-center justify-between">
               <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Удалить
               </button>
           <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" id="cancelDeleteChat" onclick="window.history.back();">
            Отменить
           </button>
          </div>
         </form>
     </div>
    </div>
   </div>
   <!-- Mobile Sidebar -->
   <div class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200 md:hidden">
    <div class="flex justify-around p-2">
     <button class="text-gray-500">
      <i class="fas fa-comments">
      </i>
     </button>
     <button class="text-gray-500">
      <i class="fas fa-user">
      </i>
     </button>
     <button class="text-gray-500">
      <i class="fas fa-cog">
      </i>
     </button>
    </div>
   </div>
  </div>
  <script>
   document.getElementById('cancelDeleteChat').addEventListener('click', function() {
     window.history.back();
   });
  </script>

{% endblock content %}