.hidden {
    display: none;
}

.tab-group {
    list-style-type: none;
    display: flex;
}

.tab-group-item {
    border: 1px solid lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}