* {
    box-sizing: border-box;
}

.modal-section {
    position: relative;
}

.fade-block {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: greenyellow;
    height: 200px;
}

.content-hidden {
    display: none;
}

.tab-group {
    list-style-type: none;
    display: flex;
}

.tab-group-item {
    border: 1px solid lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.tab-content-hidden {
    display: none;
}


.list-group {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-group > * + * {
    margin-top: -20px;
}

.list-group-item {
    border: 1px solid lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.list-content {
    margin-top: 0;
    padding-top: 0;
}


/* Расшифровка
.list-group > * + * {
    margin-left: 30px;
}

Разница с записью .list-group > *:
`> *` - выбирает прямых потомков любого типа (здесь `<li>`). То есть ВСЕ li!
`+ *` - выбирает следующий соседний элемент любого типа (элемент, следующий сразу после другого прямого потомка). То есть li, КРОМЕ ПЕРВОГО!


*/